.macro-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #eae2e2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.macro-description{
    display: flex;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}