.macro-form-box {
    display: flex;
    justify-content: left;
    background-color: white;
    width: 25rem;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 95%;
    border-radius: 12px;
    border-color: black;

}