.macro-item {
  border: .25rem solid black;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  width: 12rem;
  box-shadow: 0 2px 8px rgba(236, 232, 232, 0.25);
  background-color: #a5add0;
}
